<head>
   <meta charset="utf-8"/>
   
   <link type="text/css" rel="stylesheet" href="login.component.css"/>
   <title></title>
</head>
<div class="sidenav">
         <div class="login-main-text">
            <h2>Welcome to<br> Financial Portal</h2>
            <p>Press Button to access.</p>
            <br><br>
            <br><br>
            <br><br>
            <p>Created by Pablo Ramirez</p>
         </div>
      </div>
      <body>
      <div class="main">
         <br><br>
         <br><br>
         <br><br>
         <br><br>
         <br><br>
         <!-- <div class="col-md-6 col-sm-12"> -->
            <button 
             class="btn btn-primary"
             (click)="Login()"         
            *ngIf="!(auth.isAuthenticated$ | async)"><h3> LogIn </h3></button>
 
            <!-- <div class="login-form"> -->
               <!-- <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" novalidate>
                  <div class="form-group">
                     <label>User</label>
                     <input formControlName="user">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input formControlName="password">
                  </div>
                  <button type="submit" class="btn btn-black" [disabled]="!loginForm.valid">Login</button>
                
                
                </form> -->
            </div>
         </body>
            <!-- </div> -->
            <!-- <div class="alert alert danger" *ngIf="errorStatus"> -->
                <!-- <p>{{ errorMsj }}</p> -->
              <!-- </div> -->
                <!-- <div class="alert alert danger" *ngIf="errorStatus">
                    <p></p> -->
               
            <!-- </div> -->
         